In [3]:
#For colab only
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

# Import our input dataset
data_zipcode_df = pd.read_csv('gdrive/My Drive/Resources/pvOpenDataWithZipcode.csv')
data_zipcode_df

       Unnamed: 0  sc_gid  ...  distance_to_transmission_km    ZIP
0               0       0  ...                     0.673354  98230
1               1       1  ...                     6.875389  98230
2               2       2  ...                     7.901461  98247
3               3       3  ...                     2.910129  98225
4               4       4  ...                   102.926423  98225
...           ...     ...  ...                          ...    ...
55514       55514   55530  ...                    22.586464  78521
55515       55515   55531  ...                     9.374740  78521
55516       55516   55532  ...                     4.844146  78520
55517       55517   55533  ...                     5.204726  78520
55518       55518   55534  ...                    11.193227  78521

[55519 rows x 10 columns]

In [5]:
# Generate our categorical variable list
zip_cat = data_zipcode_df.dtypes[data_zipcode_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
data_zipcode_df[zip_cat].nunique()

ZIP    11225
dtype: int64

In [6]:
# Check the unique value counts to see if binning is required
data_zipcode_df.ZIP.value_counts()

none     797
89316     54
89310     53
89049     53
89314     52
        ...
67657      1
89081      1
41339      1
37615      1
49202      1
Name: ZIP, Length: 11225, dtype: int64

In [7]:
# Check the unique value counts to see if binning is required
data_zipcode_df.global_horizontal_irradiance.value_counts()

4.826112    3
5.129384    2
4.846448    2
4.219305    2
4.374631    2
           ..
4.699844    1
4.164115    1
6.008384    1
3.616241    1
4.000359    1
Name: global_horizontal_irradiance, Length: 55179, dtype: int64

In [11]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(data_zipcode_df[zip_cat])

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(data_zipcode_df[zip_cat])
encode_df.head()

SyntaxError: ignored

In [ ]:
# Merge one-hot encoded features and drop the originals
data_zipcode_df = data_zipcode_df.merge(encode_df,left_index=True, right_index=True)
data_zipcode_df = data_zipcode_df.drop(zip_cat,1)
data_zipcode_df.head()

In [12]:
# Remove global_horizontal irradiance  target from features data
y = data_zipcode_df.global_horizontal_irradiance
X = data_zipcode_df.drop(columns=["latitude","longitude"])

In [13]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

ValueError: ignored

In [14]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

NameError: ignored