In [1]:
import pandas as pd

In [2]:
# Residential electric rates by state
elecrates=pd.read_csv('2020avg.csv')
elecrates

    Year State  Residential
0   2020    AL        12.58
1   2020    AR        10.41
2   2020    AZ        12.27
3   2020    CA        20.45
4   2020    CO        12.36
5   2020    CT        22.71
6   2020    DC        12.63
7   2020    DE        12.56
8   2020    FL        11.27
9   2020    GA        12.02
10  2020    IA        12.46
11  2020    ID         9.95
12  2020    IL        13.04
13  2020    IN        12.83
14  2020    KS        12.85
15  2020    KY        10.87
16  2020    LA         9.67
17  2020    MA        21.97
18  2020    MD        13.01
19  2020    ME        16.81
20  2020    MI        16.26
21  2020    MN        13.17
22  2020    MO        11.22
23  2020    MS        11.17
24  2020    MT        11.24
25  2020    NC        11.38
26  2020    ND        10.44
27  2020    NE        10.80
28  2020    NH        19.04
29  2020    NJ        16.03
30  2020    NM        12.94
31  2020    NV        11.34
32  2020    NY        18.36
33  2020    OH        12.29
34  2020    OK        10.12
35  2020    OR        11.17
36  2020    PA        13.58
37  2020    RI        22.01
38  2020    SC        12.78
39  2020    SD        11.75
40  2020    TN        10.76
41  2020    TX        11.71
42  2020    UT        10.44
43  2020    VA        12.03
44  2020    VT        19.54
45  2020    WA         9.87
46  2020    WI        14.32
47  2020    WV        11.80
48  2020    WY        11.11

In [3]:
# Zipcodes with GHI
zips=pd.read_csv('cleaned_zips.csv')
zips=zips.drop(['Unnamed: 0'],axis=1)
zips

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population,ghi
0,501,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562,4.128383637
1,544,UNIQUE,0,Holtsville,NaN,Internal Revenue Service,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0,4.128383637
2,1001,STANDARD,0,Agawam,NaN,NaN,MA,Hampden County,America/New_York,413,NaN,US,42.06,-72.61,15240,3.998696684
3,1002,STANDARD,0,Amherst,"Cushman, Pelham",South Amherst,MA,Hampshire County,America/New_York,413,NaN,US,42.37,-72.52,16070,3.970523198
4,1003,STANDARD,0,Amherst,NaN,NaN,MA,Hampshire County,America/New_York,413,NaN,US,42.39,-72.52,184,3.967804849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40999,99363,PO BOX,0,Wallula,NaN,NaN,WA,Walla Walla County,America/Los_Angeles,509,NaN,US,46.06,-118.89,200,4.244543076
41000,99371,STANDARD,0,Washtucna,NaN,NaN,WA,Adams County,America/Los_Angeles,509,NaN,US,46.82,-118.32,220,4.155421257
41001,99401,STANDARD,0,Anatone,NaN,NaN,WA,Asotin County,America/Los_Angeles,509,NaN,US,46.08,-117.27,270,4.079967738
41002,99402,STANDARD,0,Asotin,NaN,NaN,WA,Asotin County,America/Los_Angeles,509,NaN,US,46.19,-117.13,1720,4.048606158
41003,99403,STANDARD,0,Clarkston,NaN,NaN,WA,Asotin County,America/Los_Angeles,509,NaN,US,46.36,-117.22,16630,4.001007796

In [4]:
# Add electric rates to zipcode dataframe
zips=pd.merge(left=zips,right=elecrates,left_on='state',right_on='State',how='left')

In [5]:
# Drop duplicate columns
zips=zips.drop(['Year','State'],axis=1)

In [6]:
# Add units
zips=zips.rename(columns={'ghi':'global_horizontal_irradiance_(kWh/m^2)/day','Residential':'residential_electric_rate_(cents/kWh)'})

In [7]:
zips.to_csv('zipcodes_ghi_electric.csv')